[data-bs-theme=dark] {
  --bs-primary: #FF2C23;
  --bs-primary-rgb: 255,44,35;
  --bs-primary-text-emphasis: #FF807B;
  --bs-primary-bg-subtle: #330907;
  --bs-primary-border-subtle: #991A15;
  --bs-secondary: #adb5bd;
  --bs-secondary-rgb: 173,181,189;
  --bs-secondary-text-emphasis: #CED3D7;
  --bs-secondary-bg-subtle: #232426;
  --bs-secondary-border-subtle: #686D71;
  --bs-body-color: #adb5bd;
  --bs-body-color-rgb: 173,181,189;
  --bs-secondary-color: rgba(173,181,189,0.75);
  --bs-secondary-color-rgb: 173,181,189,0.75;
  --bs-tertiary-color: rgba(173,181,189,0.5);
  --bs-tertiary-color-rgb: 173,181,189,0.5;
  --bs-link-color: #FFFFFF;
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color: #930b05;
  --bs-link-hover-color-rgb: 147,11,5;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #FF2C23;
  --bs-btn-border-color: #FF2C23;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FF4C44;
  --bs-btn-hover-border-color: #FF4139;
  --bs-btn-focus-shadow-rgb: 38,7,5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FF564F;
  --bs-btn-active-border-color: #FF4139;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #FF2C23;
  --bs-btn-disabled-border-color: #FF2C23;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #FF2C23;
  --bs-btn-border-color: #FF2C23;
  --bs-btn-focus-shadow-rgb: 255,44,35;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FF2C23;
  --bs-btn-hover-border-color: #FF2C23;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FF2C23;
  --bs-btn-active-border-color: #FF2C23;
  --bs-btn-disabled-color: #FF2C23;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FF2C23;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #adb5bd;
  --bs-btn-border-color: #adb5bd;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B9C0C7;
  --bs-btn-hover-border-color: #B5BCC4;
  --bs-btn-focus-shadow-rgb: 26,27,28;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #BDC4CA;
  --bs-btn-active-border-color: #B5BCC4;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #adb5bd;
  --bs-btn-disabled-border-color: #adb5bd;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #adb5bd;
  --bs-btn-border-color: #adb5bd;
  --bs-btn-focus-shadow-rgb: 173,181,189;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #adb5bd;
  --bs-btn-hover-border-color: #adb5bd;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #adb5bd;
  --bs-btn-active-border-color: #adb5bd;
  --bs-btn-disabled-color: #adb5bd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #adb5bd;
}

